@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'robotoregular', sans-serif;
  margin: 0;
  background: url('/images/bg_tile.jpg') repeat scroll 0 0 transparent;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}


/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

input[type=file] {
  background-color: rgb(255, 255, 255);
  width: 70%;
  margin: 1em 0em;
  overflow: hidden;
  border-radius: 0.2em;
  box-shadow: 0 0 0px 5px rgba(20, 28, 34, .1);
}

.logo {
  height: 100px;
  display: inline-block;
  margin: 0.5em;
}

.explanation {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.container {
    padding: 2em;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #eee;
  border-radius: 1em;
}

